<style>
p.space {
    margin-top: 1cm;
}
</style>

<h2>Special Info and Announcements</h2>

<p class="space"> </p>

<h4>Service</h4>
<ul>
  <li>Returning members need to complete 30 hours during the school year, only 10 of which can be from this past summer.</li>
  <li>New members need 12 hours by the end of the school year.</li>
</ul>

<h4>Field Trip</h4>
<ul>
  <!--<li>The chosen trip for this year is <a href="https://aqua.org/">the Baltimore aquarium</a>.</li>
  I'm gonna keep this commented out until we're 100% sure this is where we're going.
  -->
  <li>More info will be posted later.</li>
</ul>

<h4>Fees</h4>
<ul>
  <li>Please deliver payments to Mr. Fromal or Nick Iannarone in cash or as a check payable to the school.</li>
  <li>Info regarding upcoming fees will be posted later.</li>
</ul>
