<h2>
    {{ showAdminPanel ? 'Admin Panel' : 'Member List' }}
    <button ng-if="user.admin" ng-click="toggleAdminPanel()" class="btn btn-default admin-panel-button">
        <span class="glyphicon glyphicon-user"></span>
        <span class="hide-when-small">{{ showAdminPanel ? 'Member List': 'Admin Panel' }}</span>
    </button>
</h2>

<table ng-hide="showAdminPanel" class="table clickable-table table-striped member-list member-list-export">
    <thead>
        <tr class="filtertable">
            <th>Name
                <span class="glyphicon" ng-click="reverse = !reverse" ng-show="propertyName === 'lastname'" ng-class="{'glyphicon-triangle-top': reverse, 'glyphicon-triangle-bottom': !reverse}"></span>
                <span class="glyphicon glyphicon-sort" ng-click="propertyName = 'lastname'; reverse=false" ng-show="propertyName !== 'lastname'"></span>
            </th>
			<th>Hours
                <span class="glyphicon" ng-click="reverse = !reverse" ng-show="propertyName === 'totalHours'" ng-class="{'glyphicon-triangle-top': reverse, 'glyphicon-triangle-bottom': !reverse}"></span>
                <span class="glyphicon glyphicon-sort" ng-click="propertyName = 'totalHours'; reverse=true" ng-show="propertyName !== 'totalHours'"></span>
            </th>
            <th><span class="hide-when-small">Grad Year</span>
                <span class="glyphicon" ng-click="reverse = !reverse" ng-show="propertyName === 'gradyear'" ng-class="{'glyphicon-triangle-top': reverse, 'glyphicon-triangle-bottom': !reverse}"></span>
                <span class="glyphicon glyphicon-sort" ng-click="propertyName = 'gradyear'; reverse=false" ng-show="propertyName !== 'gradyear'"></span>
            </th>
            <th><span class="hide-when-small">Checked</span>
                <span class="glyphicon" ng-click="reverse = !reverse" ng-show="propertyName === 'checked'" ng-class="{'glyphicon-triangle-top': reverse, 'glyphicon-triangle-bottom': !reverse}"></span>
                <span class="glyphicon glyphicon-sort" ng-click="propertyName = 'checked'; reverse=false" ng-show="propertyName !== 'checked'"></span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="member in members | orderBy:propertyName:reverse" ui-sref="singleMember({memberID: member._id})">
            <td class='fullname'>{{member.firstname + " " + member.lastname}}</td>
            <td>{{member.totalHours}}</td>
            <td>{{member.gradyear - 2000 }}</td>
            <td><span ng-class="{'glyphicon-ok': member.checked }" class="glyphicon"></span></td>
        </tr>
    </tbody>
</table>

<table ng-show="showAdminPanel" class="table clickable-table table-striped member-list admin-panel">
    <thead>
        <tr class="filtertable">
            <th>Name
                <span class="glyphicon" ng-click="reverse = !reverse" ng-show="propertyName === 'lastname'" ng-class="{'glyphicon-triangle-top': reverse, 'glyphicon-triangle-bottom': !reverse}"></span>
                <span class="glyphicon glyphicon-sort" ng-click="propertyName = 'lastname'; reverse=false" ng-show="propertyName !== 'lastname'"></span>
            </th>
            <th class="hide-when-small">
                <span class="glyphicon glyphicon-calendar"></span>
                <span class="hide-when-small">Date Created</span>
                <span class="glyphicon" ng-click="reverse = !reverse" ng-show="propertyName === 'dateCreated'" ng-class="{'glyphicon-triangle-top': reverse, 'glyphicon-triangle-bottom': !reverse}"></span>
                <span class="glyphicon glyphicon-sort" ng-click="propertyName = 'dateCreated'; reverse=false" ng-show="propertyName !== 'dateCreated'"></span>
            </th>
            <th>
                <span>Admin</span>
                <span class="glyphicon" ng-click="reverse = !reverse" ng-show="propertyName === 'admin'" ng-class="{'glyphicon-triangle-top': reverse, 'glyphicon-triangle-bottom': !reverse}"></span>
                <span class="glyphicon glyphicon-sort" ng-click="propertyName = 'admin'; reverse=false" ng-show="propertyName !== 'admin'"></span>
            </th>
            <th>
                <span class="hide-when-small">Reset Password</span>
            </th>
            <th>
                <span class="hide-when-small">Delete</span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="member in members | orderBy:propertyName:reverse">
            <td class='fullname shrink-when-small'><b>{{member.firstname + " " + member.lastname }}</b> <i class="hide-when-small">{{member.username}}</i></td>
            <td class="hide-when-small">{{ member.dateCreated | date : 'M/d/yy h:mm a' }}</td>
            <td>
                <button class="btn btn-default btn-xs" ng-click="toggleAdmin(member)" ng-class="{'btn-warning': member.admin }">
                    <span>{{ member.admin ? "Remove" : "Make" }} Admin</span>
                </button>
            </td>
            <td>
                <input class="small-input" ng-model="member.password" placeholder="Enter new password">
                <button class="btn btn-default btn-xs btn-danger btn-reset" ng-click="resetPass(member, $event)">
                    <span>Reset</span>
                </button>
            </td>
            <td>
                <button class="btn btn-default btn-xs" ng-hide="member.confirmDelete" ng-click="removeUser($event, member)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
                <button class="btn btn-default btn-danger btn-xs" ng-dblclick="removeUser($event, member, true)" ng-show="member.confirmDelete">
                    SURE?
                </button>
            </td>
        </tr>
    </tbody>
</table>

<button ng-show="!showAdminPanel" ng-click="exportToExcel('.member-list-export')" class="btn btn-xs btn-default hide-when-small export-button">
    <span class="glyphicon glyphicon-share"></span>
    <span>Export to Excel</span>
</button>

<div class="help-text">
    <p>
        <span class="glyphicon glyphicon-question-sign"></span>
        If there are any problems email <a href="mailto:matvarughese3@gmail.com">matvarughese3@gmail.com</a> or <a href="mailto:j26walker@gmail.com">j26walker@gmail.com</a>.
    </p>
    <p>
        To delete a member, in the Admin Panel click the trashcan icon. Then, double click the SURE button. THIS CANNOT BE UNDONE! Resetting password also can be done in the admin panel.
    </p>
</div>
