@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");

.login {
    margin-top: 50px;
}

.login img {
    margin: 0 auto;
    max-height: 120px;
}

.login.signup img {
	width: 69px;
}

.login .btn-link {
    margin-top: 5px;
}

body {
    padding-bottom: 6px;
    font-family: 'Roboto';
}

.navbar {
    border-radius: 0;
	margin-bottom: 0;
}

.navbar .navbar-right li:last-child {
    cursor: pointer;
}

.navbar-header .navbar-brand svg {
    fill: #ddd;
}
.navbar-header .navbar-brand .glyphicon {
    top: -3px
}

.navbar-header .navbar-brand span.title {
    position: relative;
    top: -8px;
    margin-top: 2px;
    font-weight: bold;
    color: #ddd;
}

.clickable-table tbody tr {
    cursor: pointer;
}
.clickable-table tbody tr:hover, .clickable-table tbody tr:active {
    background: #333;
    color: #ddd;
}

.uevent-table .time-info {
    font-size: 12px;
}

.uevent-table .description {
    font-style: italic;
    margin-right: -74px;
}

.uevent-table .description a {
    font-size: 15px;
    background: #18619c;
    color: #bcdcff;
    font-weight: bold;
    padding: 0 10px;
    font-style: normal;
}


.uevent-table .edit-uevent span {
    margin-right: 3px;
}
.uevent-table .delete-uevent {
    color: firebrick;
    cursor: pointer;
}

.nhs-date-picker table {
	margin: 0px auto 10px auto;
}

.button-bar {
    position: fixed;
    bottom: 0; left: 0; right: 0;
    padding: 10px;
}

div.has-button-bar {
    padding-bottom: 54px;
}

.ng-invalid.ng-touched {
    border-color: #d25656;
    background: #ffcfcf;
}

.invalid-message {
    margin-top: -14px;
    margin-bottom: 10px;
    color: #d25656;
}

@media screen and (max-width: 420px) {
    .uevent-table .description {
        max-height: 80px;
        overflow-y: auto;
        font-size: smaller;
        margin-right: -80px;
        margin-top: 4px;
    }
    .hide-when-small {
        display: none;
    }
}


.filtertable {

}

.filtertable th .glyphicon{
    cursor: pointer;
}

.filtertable th .glyphicon.glyphicon-triangle-top,
.filtertable th .glyphicon.glyphicon-triangle-bottom {
    top: 3px;
    left: 2px;
}

.admin-panel .btn-xs {
    margin-top: -2px;
}

.admin-panel-button {
    float: right;
	margin-right: 6px;
}

.export-button {
    float: right;
}

.admin-panel .small-input {
    color: black;
    padding: 1px 2px 2px 2px;
    border: 1px solid #dddddd;
    line-height: 0px;
    margin-top: -3px;
}
